<div class="container">
  <h1>Name: {{data.name}}</h1>
  <h1>Cuisine: {{data.cuisine}}</h1>
  <h1>Address:
    {{data.address.building}}
    {{data.address.street}}
    {{data.address.zipcode}}</h1>
  <h1>Borough: {{data.borough}}</h1>

</div>